# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# Logs
# =========================
logs
*.log

# =========================
# Build folders
# =========================
dist/
build/

# =========================
# Frontend (Vite / React)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Backend
# =========================
backend/node_modules/

# =========================
#  files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
postgres-data/
*.pid

# =========================
# Coverage
# =========================
coverage/

# =========================
# Misc
# =========================
*.tmp
*.swp